/* Don't judge my CSS it IS NOT my passion */

body{
    background-color: rgb(36, 36, 36);
    color: white;
}

.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .user-profile-section{
    max-width: 300px;
  }
.friends-section{
        width: 250px;
        border: 2px  solid rgb(0, 204, 255);
        border-radius: 4px;
      float: right;
        overflow-y: scroll;
        padding: 10px;
        height: 550px;
    }

  .friend-Offline{
    padding: 3px;
    border: 1px solid;
    border-radius: 4px;
    border-color: gray;
    height: auto;
    width: auto;
    margin: 7px;

  }
  .friend-Away{
    border: 1px solid;
    border-color: orange;
    border-radius: 4px;
    height: auto;
    width: auto;
    margin: 7px;

  }
  .friend-Busy{
    border: 1px solid;
    border-color: red;
    border-radius: 4px;
    height: auto;
    width: auto;
    margin: 7px;

  }
  .friend-Online{
    border: 1px solid;
    border-color: lime;
    border-radius: 4px;
    height: auto;
    width: auto;
    margin: 7px;

  }
  span.Offline{
    color: gray;
}
span.friend-Away{
  color: orange
}
span.busy{
  color: red;
}
span.Online{
    color: lime;
}
.login-form{
  height: auto;
  width: 400px;
  border: 2px  solid rgb(0, 204, 255);
  border-radius: 4px;
  padding: 40px;
}